.hero {
  /* overflow-x: hidden; */
  position: relative;
  height: 95vh;
  width: 100%;
  background-color: #769ebe3d;
  display: grid;
  place-items: center;
}

.hero video {
  position: absolute;
  right: 0;
  height: 95vh;
  width: 100%;
  bottom: 0;
  z-index: -10;
  object-fit: cover;
  transition: 0.1s;
}

.vidContent {
  color: #fff;
  display: grid;
  place-items: center;
  position: relative;
  /* background-color: red; */
  padding: 1rem 1rem;
}

.vidContent h1 {
  font-size: 5rem;
  font-weight: 500;
  padding: 1rem 0;
  /* background-color: green; */
  font-family: "Noto Serif", serif;
}

.vidContent p {
  text-align: center;
  line-height: 1.7;
  min-width: 50%;
  max-width: 54%;
  /* background-color: yellow; */
  z-index: 1000;
  padding-bottom: 1rem;
}
.vidContent button {
  z-index: 10;
  margin-top: 2rem;
}
.vidContent button:hover {
  background-color: #c1b086;
  border-color: transparent;
}

.vidContent .neutralR {
  position: absolute;
  top: -55%;
  z-index: -10;
  color: rgba(255, 255, 255, 0.247);
  font-size: 400px;
}
